.container {
  width: 60%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #26292e;
}

h1 {
  margin: 25px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #2c2c2c;
  font-size: 6rem;
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 70%;
}

footer {
  margin-top: 6%;
  color: white;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
